1. What exactly is []?

In [ ]:
# '[]' represents an empty list

empty_list = []
print(empty_list)  # Output: []

[]

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

To assign the value 'hello' as the third value in the list stored in the variable spam, we can use the insert() function

In [1]:
spam = [2, 4, 6, 8, 10]
spam.insert(2, 'hello')
print(spam)  # Output: [2, 4, 'hello', 6, 8, 10]

spam = ['a', 'b', 'c', 'd']
spam.insert(2, 'hello')
print(spam)  # Output: ['a', 'b', 'hello', 'c', 'd']

[2, 4, 'hello', 6, 8, 10]
['a', 'b', 'hello', 'c', 'd']

- Let's pretend the spam includes the list ['a', 'b', 'c', 'd'] for the next three queries.

3. What is the value of spam[int(int('3' * 2) / 11)]?

'3' * 2 evaluates to the string '33'.

---
int('33') converts the string '33' to an integer 33.

---
int('33') / 11 performs integer division, resulting in 3.

---
spam[int(3)] accesses the element at index 3 in the list spam.


---
Assuming spam contains the list ['a', 'b', 'c', 'd'], the value of spam[int(int('3' * 2) / 11)] would be 'd'.

In [12]:
spam = ['a', 'b', 'c', 'd']
print(spam[int(int('3' * 2) / 11)])

d

4. What is the value of spam[-1]?

In Python, negative indices are used to access elements from the end of a list. The index -1 represents the last element of the list

In [13]:
spam = ['a', 'b', 'c', 'd']
print(spam[-1])

d

5. What is the value of spam[:2]?

In Python, slicing is used to extract a portion of a list. The syntax for slicing is list[start:end], where start is the index of the first element to include, and end is the index of the first element to exclude.

In [14]:
# if spam contains the list ['a', 'b', 'c', 'd']
# spam[:2] will give a new list containing the elements from index 0 (inclusive) up to index 2 (exclusive)
spam = ['a', 'b', 'c', 'd']
print(spam[:2])

['a', 'b']

- Let's pretend bacon has the list [3.14, 'cat', 11, 'cat', True] for the next three questions.

6. What is the value of bacon.index('cat')?

The index() method is used to find the index of the first occurrence of a specified element in a list. If the element is not found in the list, it will raise a ValueError.

If bacon contains the list [3.14, 'cat', 11, 'cat', True], then bacon.index('cat') will give the value 1. The first occurrence of the element 'cat' is at index 1 in the list bacon.

In [15]:
bacon = [3.14, 'cat', 11, 'cat', True]
print(bacon.index('cat')) # Output: 1

1

7. How does bacon.append(99) change the look of the list value in bacon?

The expression bacon.append(99) appends the integer 99 to the end of the list bacon. Therefore, the list bacon will look like [3.14, 'cat', 11, 'cat', True, 99].

In [16]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.append(99)
print(bacon)

[3.14, 'cat', 11, 'cat', True, 99]

8. How does bacon.remove('cat') change the look of the list in bacon?

The remove() method in Python is used to remove the first occurrence of a specified element from a list. If the element is not found in the list, it will raise a ValueError.

In [17]:
bacon = [3.14, 'cat', 11, 'cat', True]
bacon.remove('cat')
print(bacon)

[3.14, 11, 'cat', True]

9. What are the list concatenation and list replication operators?

The list concatenation operator is the + operator. The list replication operator is the * operator.

In [18]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
concatenated_list = list1 + list2
print(concatenated_list)  # Output: [1, 2, 3, 4, 5, 6]

list1 = [1, 2, 3]
replicated_list = list1 * 3
print(replicated_list)  # Output: [1, 2, 3, 1, 2, 3, 1, 2, 3]

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

10. What is difference between the list methods append() and insert()?

The append() method adds an element to the end of a list. The insert() method adds an element to a list at a specific index.

In [20]:
fruits = ['apple', 'banana', 'orange']
fruits.append('grape')
print(fruits)  # Output: ['apple', 'banana', 'orange', 'grape']

list1 = [1, 2, 3]
list1.insert(1, 4)
print(list1)  # Output: [1, 4, 2, 3]

['apple', 'banana', 'orange', 'grape']
[1, 4, 2, 3]

11. What are the two methods for removing items from a list?

remove(): The remove() method is used to remove the first occurrence of a specified element from the list. It takes one argument, which is the element to be removed.

In [22]:
list1 = [1, 2, 3, 4, 5]
list1.remove(3)
print(list1)  # Output: [1, 2, 4, 5]

[1, 2, 4, 5]

pop(): The pop() method is used to remove an element from a specific position in the list. It takes an optional argument, which is the index of the element to be removed. If no index is specified, it removes and returns the last element from the list.

In [23]:
fruits = ['apple', 'banana', 'orange']
removed_fruit = fruits.pop(1)
print(fruits)  # Output: ['apple', 'orange']
print(removed_fruit)  # Output: 'banana'

['apple', 'orange']
banana

12. Describe how list values and string values are identical.

- Indexing and Slicing: Both lists and strings support indexing and slicing.
```
my_list = [1, 2, 3, 4, 5]
my_string = "Hello, World!"
print(my_list[2])        # Output: 3
print(my_string[7])      # Output: W
print(my_list[1:4])      # Output: [2, 3, 4]
print(my_string[0:5])    # Output: Hello
```
---

- Iteration: You can iterate over both lists and strings using loops like for and while.
```
my_list = [1, 2, 3, 4, 5]
my_string = "Hello"
for item in my_list:
    print(item)          # Output: 1 2 3 4 5
for char in my_string:
    print(char)          # Output: H e l l o
```
---

- Length: Both lists and strings have a length that can be obtained using the len() function.
```
my_list = [1, 2, 3, 4, 5]
my_string = "Hello"
print(len(my_list))      # Output: 5
print(len(my_string))    # Output: 5
```
---

- Membership: You can use the in operator to check if an element or character is present in a list or string.
```
my_list = [1, 2, 3, 4, 5]
my_string = "Hello"
print(3 in my_list)      # Output: True
print('e' in my_string)  # Output: True
```

13. What's the difference between tuples and lists?

![image.png]()

14. How do you type a tuple value that only contains the integer 42?

```
my_tuple = (42,)
```
Tuple value containing only the integer 42, we use parentheses () with the integer inside with the comma , after the integer which is essential when creating a tuple with a single element.

Without the comma, Python will interpret it as just an integer, not as a tuple.

15. How do you get a list value's tuple form? How do you get a tuple value's list form?

In [25]:
# Converting a list to a tuple:
list1 = [1, 2, 3, 4]
tuple1 = tuple(list1)
print(tuple1)  # Output: (1, 2, 3, 4)

# Converting a tuple to a list:
tuple2 = (1, 2, 3, 4)
list2 = list(tuple2)
print(list2)  # Output: [1, 2, 3, 4]

(1, 2, 3, 4)
[1, 2, 3, 4]

16. Variables that "contain" list values are not necessarily lists themselves. Instead, what do they contain?

- Variables that "contain" list values in Python actually contain references or pointers to the memory location where the list is stored.
- When you assign a list to a variable, the variable points to the memory location where the list is stored, rather than holding the actual elements of the list directly. This is true for all mutable data types in Python, including lists.

In [26]:
# Assigning a list to a variable 'my_list'
my_list = [1, 2, 3, 4]

# If we create another variable 'another_list' and set it to 'my_list'
another_list = my_list

# Now, modifying the list through 'another_list'
another_list[0] = 10

# Both 'my_list' and 'another_list' will reflect the change
print(my_list)       # Output: [10, 2, 3, 4]
print(another_list)  # Output: [10, 2, 3, 4]

[10, 2, 3, 4]
[10, 2, 3, 4]

- In the example above, my_list and another_list are two different variables, but they both point to the same memory location where the list [1, 2, 3, 4] is stored. So, any changes made to the list using one variable will also be reflected in the other variable, because they both reference the same list in memory.
- This behavior is important to know when working with mutable data types in Python, as it can affect the behavior of code when modifying lists or other mutable objects.

17. How do you distinguish between copy.copy() and copy.deepcopy()?

copy.copy():

- copy.copy() creates a shallow copy of an object. It duplicates the top-level structure of the object but does not create new copies of the elements within the object.
- If the object being copied contains other objects (e.g., nested lists or dictionaries), the new copy will still reference the same nested objects as the original object. Changes made to the nested objects will be reflected in both the original and the copied object.
- Shallow copy is sufficient for simple objects, but it may not be suitable for more complex data structures.
---

copy.deepcopy():

- copy.deepcopy() creates a deep copy of an object. It duplicates the top-level structure of the object and recursively creates new copies of all the elements within the object, including nested objects.
- This means that a deep copy creates entirely independent copies of all nested objects, so changes made to the nested objects in the copied object will not affect the original object, and vice versa.
- Deep copy is useful when you need a completely independent copy of a complex object, especially if you want to modify the copied object without affecting the original.

In [27]:
import copy

# Nested list
original_list = [1, [2, 3], [4, 5]]

# Shallow copy using copy.copy()
shallow_copy_list = copy.copy(original_list)

# Deep copy using copy.deepcopy()
deep_copy_list = copy.deepcopy(original_list)

# Modify the nested list in the copies
shallow_copy_list[1][0] = 100
deep_copy_list[1][0] = 200

print(shallow_copy_list)# Output: [1, [100, 3], [4, 5]]
# Changes in the shallow copy affect the original
print(original_list)    # Output: [1, [100, 3], [4, 5]]

# Changes in the deep copy do not affect the original
print(deep_copy_list)   # Output: [1, [200, 3], [4, 5]]

[1, [100, 3], [4, 5]]
[1, [100, 3], [4, 5]]
[1, [200, 3], [4, 5]]