1. What exactly is []?

In [1]:
# '[]' represents an empty list

empty_list = []
print(empty_list)  # Output: []

[]

2. In a list of values stored in a variable called spam, how would you assign the value 'hello' as the third value? (Assume [2, 4, 6, 8, 10] are in spam.)

To assign the value 'hello' as the third value in the list stored in the variable spam, we can use the insert() function

In [2]:
spam = [2, 4, 6, 8, 10]
spam.insert(2, 'hello')
print(spam)  # Output: [2, 4, 'hello', 6, 8, 10]

[2, 4, 'hello', 6, 8, 10]